.car-item{
    display: flex;
}

.car-item .card-thumbnail{
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.card-thumbnail img{
    box-shadow: rgba(0,0,0, .3) 0 2px 2px 2px;
    border-radius: 1rem;
    max-height: 80%;
    max-width: 100%;
}

.car-item .card-details{
    text-align: left;
    overflow: hidden;
    padding-left: 1rem;
    color: #999;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.card-details h3{
    color: black;
}

.demarcated{
    border-right: black solid 2px;
}

.truncate{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.row{
    display: flex;
    margin-bottom: .5rem;
}

.row span{
    display: block;
    margin-top: .5rem;
}

.row>*{
    padding: 0 .5rem;
}

.row>*:first-child{
    padding-left: 0;
}

.card-details span{
    color: black;
}

span.color{
    /* center the color thumbnail under the text */
    margin-right: auto;
    margin-left: auto;
}