.filter-item {}

.filter-item ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.filter-item ul li{
    margin: 0 3px;
    background-color: #aaa;
    border-radius: 1rem;
    padding: .5rem;
}

a{
    text-decoration: none;
}