:root{
  font-size: large;
  padding: 0;
}

body{
  padding: 1rem;
}

.App {
  text-align: center;
  background-color: #ccc;
  padding: 1rem;
}

.card{
  margin: 1rem;
  box-shadow: rgba(0,0,0, .3) 2px 3px 4px 5px;
  border-radius: 2rem;
  background-color: white;
  padding: 2rem;
}

img{
  max-width: 20rem;
}

.color{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}